name: Build Docs

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --no-cache-dir sphinx sphinx_rtd_theme
          python -c "import sphinx_rtd_theme; print(sphinx_rtd_theme.__file__)"
      - name: Debug Python & Pip
        run: |
          which python
          python --version
          pip --version
          
      - name: Verify installation
        run: pip list | grep sphinx_rtd_theme  # Debugging step

      - name: Build Docs
        run: sphinx-build -b html docs/ _build/html

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
         name: html-docs
         path: docs/build/html/
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html
